:root  {
  --mainBlue: #142452;
  --headerBlue: #1E315F;
  --darkBlue: #182a52;
  --mainWhite: #ffffff;
  --mainPeach: #F77E69;
  --lightPeach: #f0bdb4;
}

html, body {
  background: var(--mainBlue);
  width: 100% !important;
}